/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: white;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: grey;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Five equal-width links */
    text-align: center; /* text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: rosybrown;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: whitesmoke;
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  