 /* Universal box sizing */
 * {
    box-sizing: border-box;
}
/* Set the size of the body */
body {
  width: 80%;
}
/* Style the header */
.header {
    background-color:green;
    text-align: center;
    padding: 20px;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: slategray;
}
/* Style the topnav links */
.topnav a {
    float: center;
    display: block;
    color: rgb(24, 145, 243);
    text-align: center;
    padding: 14px 16px;
}
/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 300px;
    padding: 15px;
    background-color: yellow;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    background-color: orangered;
    text-align: center;
    padding: 8px;
}