 /* Universal box sizing */

 * {
     box-sizing: border-box;
     margin: auto;
 }

 /* Set the size of the body */

 body {
     width: 100%;
 }

 @media screen and (max-width: 500px) {
     body {
         width: 100%;
     }
 }

 /* Style the header */

 .header {
     background-color: rgb(64, 194, 64);
     text-align: center;
     padding: 20px;
 }

 /* Create two equal columns that float next to each other */

p{text-align: center;}

 .column1 {
     float: left;
     width: auto;
     padding: 15px;
     background-color: yellow;
 }

 .column2 {
     float: left;
     width: auto;
     padding: 15px;
     background-color: rgb(255, 52, 52);
 }

 /* Clear floats after the columns */

 .row:after {
     content: "";
     display: table;
     clear: both;
 }

 .footer {
     background-color: rgb(0, 225, 255);
     text-align: center;
     padding: 8px;
     border-top: 1px solid black;
 }